<footer>
    <div class="container">
        <div class="footer__content">
            <div class="footer__left">
                <img src="img/Sports-Football-3-icon.png" alt="Logo" class="footer__logo" />
                <p>Portal sportowy – Twoje źródło najnowszych wiadomości sportowych.</p>
            </div>
            <div class="footer__center">
                <div class="footer__social">
                    <p>
                        <a href="#">Facebook</a> |
                        <a href="#">Twitter</a> |
                        <a href="#">Instagram</a>
                    </p>
                </div>
            </div>
            <div class="footer__right">
                <p>Projekt: HTML + CSS</p>
                <p>Wybrane Środowiska Programowania 24/25</p>
            </div>
        </div>
    </div>
</footer>