<header>
    <div class="container">
        <div class="header__content">
            <div class="header__info">
                <img src="img/soccer-ball-icon.png" alt="Logo" class="header__logo" />
                <h1 class="header__title">Portal sportowy</h1>
            </div>
            <nav class="header__nav">
                <ul>
                    <li><a href="#">Główna</a></li>
                    <li><a href="#">Aktualności</a></li>
                    <li><a href="#">Mecze</a></li>
                    <li><a href="#">Kontakt</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>